header {
    height: 60px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    

    nav {
        display: flex;
        justify-content: space-between;
        gap: 500px;
    }
    
}



