.side__bar {
    min-width: 200px;
    height: 650px;
    background-color: rgb(211, 207, 207);
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding-top: 10px;
    border-radius: 5px;
    padding-left: 10px;
    &:hover {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    h4 {
        // text-align: center;
        padding-top: 20px;
    }
    li {
        padding-top: 22px;
        &:hover {
            color: rgb(91, 91, 219);
        }
    }

    li a {
        font-family: Nuckle;
        font-size: 16px;
        font-weight: 539;
        line-height: 19px;
        letter-spacing: 0.01em;
        text-align: left;
        color: #000000;
        &:hover {
            text-decoration: underline;
            background-color: rgb(159, 143, 219);
        }
    }
}
